
/**
 * Homepage next steps section
 */

section.next-steps {
  max-width: 75%;
  margin: $spacing-unit 12.5%;
  text-align: center;
  font-size: 2.4rem;
  p {
    display: inline-block;
    margin: 0 $spacing-unit;
    background: $navy-color;
    color: $yellow-color;
    border: 2px solid $yellow-color;
  }
}
a.next-steps-button {
  display: inline-block;
}
a.next-steps-button:hover p, a.next-steps-button:target p {
  background: $yellow-color;
  color: $navy-color;
  border: 2px solid $navy-color;
}
a.navy-grey p {
  background: $grey-color-light;
  color: $navy-color;
  border: 2px solid $navy-color;
}
@include media-query($tablet) {
  a.next-steps-button {
    display: inline-block;
    p {
      margin: 0 $spacing-unit/4;
      padding: $spacing-unit/4 $spacing-unit/2;
    }
  }
}
@include media-query($mobile) {
  a.next-steps-button:first-of-type {
    margin-bottom: $spacing-unit/2;
  }
  h4 {
    font-size: 2.4rem;
  }
}

/**
 * Questions and ideas
 */

dl.q-and-i {
  width: 66.66%;
  margin: $spacing-unit 16.66% $spacing-unit;
  font-size: 2.4rem;
  line-height: 3.6rem;
  dt, dd {
    padding: $spacing-unit/2;
  }
  dt {
    margin: 0 auto $spacing-unit/4;
    font-size: 3rem;
    font-weight: 400;
    background: $grey-color-light;
    text-align: center;
  }
  div.accordion:last-of-type dt {
    border-bottom: 2px solid $navy-color;
  }
  dd {
    max-width: 80%;
    margin: 0 auto;
    background: $navy-color;
    color: $white-color;
    display: none;
    a {
      color: $yellow-color;
    }
    pre {
      font-family: $code-font-family;
      font-size: 2rem;
      line-height: 2.4rem;
      max-width: 80%;
      color: $navy-color;
    }
  }
  p {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  @include media-query($tablet) {
    font-size: 2rem;
    line-height: 3rem;
    h4 {
      font-size: 2.4rem;
    }
  }
  @include media-query($mobile) {
    p {
      margin-top: 0;
    }
    width: 85%;
    margin: $spacing-unit 7.5%;
  }
}
dl.q-and-i div:hover, dl.q-and-i div:target {
  dd {
    display: block;
  }
}